attr==0.3.2
colorama==0.4.6
ConfigParser==7.1.0
cryptography==41.0.3
docutils==0.18.1
docutils==0.18.1
filelock==3.16.1
HTMLParser==0.0.2
ipython==8.12.3
ipython==8.15.0
ipywidgets==8.0.4
jnius==1.1.0
keyring==23.13.1
matplotlib==3.7.2
pandas==2.0.3
Pillow==9.4.0
Pillow==10.4.0
protobuf==5.28.2
pyOpenSSL==23.2.0
pyOpenSSL==24.2.1
redis==5.1.0
seaborn==0.13.2
Sphinx==5.0.2
streamlit==1.38.0
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
